:host {
    display: block;
    height: 100%;
    /*background: linear-gradient(45deg, lightskyblue, deepskyblue);*/
}
.main-container {
    position: relative;
    background: linear-gradient(45deg, lightskyblue, deepskyblue);
}

.col-md-6 {
    text-align: center;
    position: relative;
}

/*-------------------------------------------boxes------------------ */

.link-box {
    padding: 0px 5%;
    background: linear-gradient(45deg, darkred, crimson);
    display: inline-block;
    color: white;
    transition: all 0.2s ease-in;
    box-shadow: 3px 3px 3px black;
    z-index: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.0, 1.0);
}

.link-box h1 {
    padding: 70% 0px;
    /*font-family: 'Cedarville Cursive', cursive;*/
    font-family: 'Rock Salt', cursive;
    font-size: 1.7em;
}



.top {
    margin-top: 7%;
}

.bottom {
    margin-bottom: 0.5%;
    /*margin-top: 20px;*/
}

.left {
    margin-right: 20%;
}

.left:hover {
    transform: scale(1.1) rotate(-5deg);
    background: linear-gradient(270deg, red, crimson);
    box-shadow: 1px 1px 1px black;
}

.right {
    margin-left: 20%;
}

.right:hover {
    transform: scale(1.1) rotate(5deg);
    background: linear-gradient(270deg, red, crimson);
    box-shadow: 1px 1px 1px black;
}

#portfolio {
    animation: boxesMovePortfolio 1s ease-out none;
    padding: 0px 2%;
    z-index: 1;
    margin-bottom: 2%;
}

#portfolio h1 {
    padding: 50% 0px;
}


#writing {
    animation: boxesMoveWriting 1s ease-out none;
    z-index: 1;
}
#writing h1 {
    padding: 50% 0px;
}

#about {
    animation: boxesMoveAbout 1s ease-out none;
    z-index: 1;
}

#contact {
    animation: boxesMoveContact 1s ease-out none;
    z-index: 1;
}

/*-------------------------------------------center name section------------------ */

#name-container {
    position: relative;
    text-align: center;
    z-index: 0;
}
#name-header {
    font-family: 'Permanent Marker', cursive;
    padding: 30px;
    font-size: 8em;
    color: white;
    display: inline-block;
    transition: all 0.1s ease-in;
    z-index: 0;
    animation: textAppear 2s ease-out none;
    /*border: 2px solid crimson;*/
    border-radius: 50%;
    /*box-shadow: 3px 3px 2.5px black;*/
    background-color: black;
    margin-bottom: 20px;
}

#name-header:hover {
    transform: scale(1.2);
    text-shadow: 2px 2px 2px white;
    z-index: 0;
}

#name-description {
    color: black;
    font-family: 'Permanent Marker', cursive;
    /*animation: textAppear 2s ease-out none;*/
    display: inline-block;
    z-index: 0;
}
#name-line {
    width: 40%;
    border: 1.8px solid white;
    border-radius: 25%;
    color: white;
    /*transition: all 0.5s ease-in;*/
}

/*-------------------------------------------icons------------------ */

.fa-pencil {
    margin-right: 5px;
}
.glyphicon-folder-open {
    margin-right: 10px;
}

.fa-envelope-o {
    margin-right: 5px;
}

.fa-coffee {
    margin-right: 5px;
}

/*-------------------------------------------animations and media queries */

@keyframes boxesMovePortfolio {
    0% {
        transform: translateX(700px) translateY(500px);
        /*margin-top: 500px;
        margin-left: 600px;*/
    }
    100% {
        transform: translateX(0px) translateY(0px);
        /*margin-right: 350px;
        margin-top: 20px;
        margin-bottom: 50px;*/
    }
}

@keyframes boxesMoveWriting {
    0% {
        /*margin-right: 600px;
        margin-top: 500px;*/
        transform: translateX(-700px) translateY(500px);
    }
    100% {
        transform: translateX(0px) translateY(0px);
    }
}

@keyframes boxesMoveAbout {
    0% {
        transform: translateX(700px) translateY(-500px);
        /*margin-left: 600px;*/
    }
    100% {
        transform: translateX(0px) translateY(0px);
        /*margin-right: 350px;
        margin-top: 30px;*/
    }
}

@keyframes boxesMoveContact {
    0% {
        /*margin-right: 600px;*/
        transform: translateX(-700px) translateY(-500px);
    }
    100% {
        transform: translateX(0px) translateY(0px);
        /*margin-left: 350px;
        margin-top: 30px;*/
    }
}

@keyframes textAppear {
    0% {
        color: transparent;
        /*border: 2px solid transparent;*/
        opacity: 0;
    }
    40% {
        color: transparent;
    }
    60% {
        color: white;
        
    }
    70% {
        color: red;
        transform: scale(1.05);
        
    }
    90% {
        /*border: 2px solid black;*/
    }
    100% {
        text-decoration: none;
        transform: scale(1);
        color: white;
        opacity: 1;
        /*border: 2px solid black;*/
    }
}

@media (max-width: 991px) {
    .right {
        margin-left: 0px;
        text-align: none;
    }
    .left {
        margin-right: 0px;
        text-align: none;
    }
    .bottom {
        margin-bottom: 20px;
    }
}

